/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/* Variables */
/* Font */
@font-face {
  font-family: 'Proxima Nova Regular';
  src: url(../fonts/ProximaNova-Reg.ttf) format("truetype"); }
@font-face {
  font-family: 'Proxima Nova Regular';
  src: url(../fonts/ProximaNova-Bold.ttf) format("truetype");
  font-weight: bold; }
@font-face {
  font-family: 'Comic Neue Regular';
  src: url(../fonts/ComicNeue-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Comic Neue Regular';
  src: url(../fonts/ComicNeue-Bold.ttf) format("truetype");
  font-weight: bold; }
body {
  color: #222222;
  font-family: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4; }

/* Layout */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #f16529; }
  a:visited {
    color: #f16529; }
  a:hover {
    color: #a93a0b; }

.main-container {
  margin-left: 194px;
  padding: 1.5em; }

.main {
  max-width: 940px;
  font-size: 18px;
  margin: 0px auto; }

article header {
  font-size: 150%;
  font-weight: bold; }
article blockquote {
  border-left: 6px solid #ccc;
  padding-left: 1em;
  font-style: italic; }
article table td {
  padding-right: 1em; }

.project {
  overflow: hidden;
  width: 50%;
  padding-right: 1em;
  padding-top: 1em;
  float: left;
  box-sizing: border-box; }
  .project:nth-child(even) {
    clear: left; }
  .project .image-container {
    max-height: 260px;
    margin-bottom: 1em;
    overflow: hidden; }
  .project img {
    width: 100%;
    opacity: 0.5; }
    .project img:hover {
      opacity: 1.0; }

.side-nav {
  background-color: #f16529;
  float: left;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 194px;
  height: 100%; }
  .side-nav h1 a {
    color: white;
    font-weight: normal; }
  .side-nav nav ul {
    margin: 0;
    padding: 0; }
  .side-nav nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: #e44d26; }
    .side-nav nav a:hover {
      background: #ef9781; }
  .side-nav .nav-icons {
    margin-top: 2em; }
    .side-nav .nav-icons a {
      color: white;
      margin-right: 0.5em;
      opacity: 0.5; }
      .side-nav .nav-icons a:hover {
        opacity: 1.0; }
      .side-nav .nav-icons a:last-child {
        margin-right: 0px; }

/* Helper classes */
.clearfix {
  *zoom: 1; }
  .clearfix:after {
    clear: both; }
  .clearfix:after, .clearfix:before {
    content: " ";
    display: table; }

.hidden {
  display: none !important;
  visibility: hidden; }

.invisible {
  visibility: hidden; }

.image-container {
  overflow: hidden; }

.rounded-corners {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

/* Media Queries */
@media (max-width: 480px) {
  .project {
    width: 100%; } }
/* Leftover HTML 5 Boilerplate */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
img,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }
