$color-bg: #f16529;
$color-font: #222;
$color-link: #f16529;
$color-accent: #e44d26;
$color-page-bg: #fff;
$color-header-links: #fff;

$break-mobile: 480px;
$break-medium: 768px;
$break-large: 1140px;

$font-stack: 'Proxima Nova Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$side-nav-width: 194px;
$main-width: 940px;