/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/* Variables */
$color-bg: #f16529;
$color-font: #222;
$color-link: #f16529;
$color-accent: #e44d26;
$color-page-bg: #fff;
$color-header-links: #fff;

$break-mobile: 480px;
$break-medium: 768px;
$break-large: 1140px;

$font-stack: 'Proxima Nova Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$side-nav-width: 194px;
$main-width: 940px;

/* Font */
@font-face {
  font-family: 'Proxima Nova Regular';
  src: url(../fonts/ProximaNova-Reg.ttf) format("truetype");
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url(../fonts/ProximaNova-Bold.ttf) format("truetype");
  font-weight: bold;
}

body {
  color: $color-font;
  font-family: $font-stack;
  font-size: 16px;
  line-height: 1.4;
}

/* Layout */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color-link;
  &:visited {
    color: $color-link;
  }
  &:hover {
    color: darken($color-link, 20%);
  }
}

.main-container {
  padding: 1.5em;
  padding-right: 1em;
  padding-top: 0px;
  margin-left: 1em;

  &.menu-active {
    margin-left: $side-nav-width;
    padding-left: 2.5em;
  }
}

.main {
  max-width: $main-width;
  font-size: 18px;
  margin: 0px auto;
}

article {
  header {
    font-size: 150%;
    font-weight: bold;
  }

  blockquote {
    border-left: 6px solid #ccc;
    font-style: italic;
    padding-left: 1em;
    margin-left: 0px;
    margin-right: 0px;
  }

  table {
    td {
      padding-right: 1em;
    }
  }
}

.project {
  overflow: hidden;
  width: 100%;
  padding-right: 1em;
  padding-top: 1em;
  float: left;
  box-sizing: border-box;

  &:nth-child(even) {
    clear: left;
  } 

  .image-container {
    max-height: 260px;
    margin-bottom: 1em;
    overflow: hidden;
  }

  img {
    width: 100%;
    opacity: 0.5;

    &:hover {
      opacity: 1.0;
    }
  }
}

.mobile-nav {
  position: fixed;
  left: 5px;
  top: 5px;

  &.menu-active {
    left: 5px + $side-nav-width;
  }
}

.side-nav {
  background-color: $color-bg;
  float: left;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: $side-nav-width;
  height: 100%;
  display: none; //mobile first

  &.menu-active {
    display: block;
  }

  h1 a {
    color: white;
    font-weight: normal;
  }

  nav {
    ul {
      margin: 0;
      padding: 0;
    }
    a {
      display: block;
      margin-bottom: 10px;
      padding: 15px 0;

      text-align: center;
      text-decoration: none;
      font-weight: bold;

      color: $color-header-links;
      background: $color-accent;

      &:hover {
        background: lighten($color-accent, 20%);
      }
    }
  }

  .nav-icons {
    margin-top: 2em;
    a {
      color: $color-header-links;
      margin-right: 0.5em;
      opacity: 0.5;

      &:hover {
        opacity: 1.0;
      }

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}

/* Helper classes */
.clearfix {
  *zoom: 1;
  &:after {
    clear: both;
  }
  &:after, &:before {
    content: " ";
    display: table;
  }
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.invisible {
  visibility: hidden;
}

.image-container {
  overflow: hidden;
}

.rounded-corners {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* Media Queries */
@media (min-width: $break-medium) {
  .side-nav {
    display: block;
  }

  .mobile-nav {
    display: none;
  }

  .main-container {
    margin-left: $side-nav-width;
    padding: 1.5em;
  }
}

@media (min-width: $break-large) {
  .project {
    width: 50%;
  }

  article {
    blockquote {
      margin-left: 40px;
      margin-right: 40px;
    }
  }
}

/* Leftover HTML 5 Boilerplate */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}