{% extends "layouts/default.html" %}
{% load markdown_deux_tags %}

{% block title %}About Me{% endblock %}

{% block content %} {% markdown %}
Full stack, language agnostic web developer with a background in formal computer science and game development. Focus on code health, usability, and behavior driven development. I am currently happily employed in the Washington DC area with [Echo & Co.](http://echo.co/), a company that focuses on developing web solutions for social good organizations that want to change the world.

**Full stack**  
This is a term that has been coined a lot lately.  I use it to mean that I love working on every part of the web development process.  I get a lot of joy from setting up a server and installing databases as well as working in front-end frameworks and solving responsive issues -- and anything in between.  That being said, my biggest love is in writing code.  The ability to be flexible and dynamic on a team is very important to me.

**Language agnostic**  
Solving problems happens long before you write a single line of code.  At the end of the day, our product is not only the code we ship but the problems we solve for our users.  Defining yourself by a language limits your ability to pivot and choose the right tools for the job.  The more a developer can branch out and explore other methodologies, the easier it will be for them to apply those principles cross-language and even cross-discipline.  I pride myself on the ability to do this and constantly strive to learn new technologies.
>"Computer Science is no more about computers than astronomy is about telescopes."  
- Edsger Dijkstra / Michael R. Fellows (disputed)  

**Behavior driven development**  
I focus on building software with a purpose.  To me, behavior driven development is as simple as designing, measuring, and iterating your product around user engagement.  By focusing on user behavior, you have metrics that can be considered across all disciplines and stake holders.  It allows you to make informed decisions and pivot to meet changes in user interaction.
{% endmarkdown %} {% endblock %}