{% extends "layouts/default.html" %}
{% load staticfiles %}

{% block title %}Projects{% endblock %}

{% block content %}
<div>This is a small sample of work I've contributed to over the years.  Many of these were done while I was at a company and their support and resources made it possible.  It will mostly be web development, but I hope to soon expand this to show off some games I've made as well.</div>
<div class="project">
  <div class="image-container rounded-corners">
    <a href="http://www.momsrising.org/blog"><img src="{% static 'images/projects/momsrising.jpg' %}"></a>
  </div>
  <strong>MomsRising Blog</strong> <i>PHP, Drupal 7, SASS (2014, Echo & Co.)</i><br />
</div>
<div class="project">
  <div class="image-container rounded-corners">
    <a href="http://www.uusc.org"><img src="{% static 'images/projects/uusc.jpg' %}"></a>
  </div>
  <strong>Unitarian Universalist Service Committee</strong> <i>PHP, Drupal 7, Features (2014, Echo & Co.)</i><br />
</div>
<div class="project">
  <div class="image-container rounded-corners">
    <a href="http://www.americaspromise.org"><img src="{% static 'images/projects/americaspromise.jpg' %}"></a>
  </div>
  <strong>America's Promise Alliance</strong> <i>PHP, Drupal 7, SASS (2013-2014, Echo & Co.)</i><br />
</div>
<div class="project">
  <div class="image-container rounded-corners">
    <a href="http://www.shidengaming.com"><img src="{% static 'images/projects/shidengaming.jpg' %}"></a>
  </div>
  <strong>Shiden Gaming</strong> PHP, phpBB (2013)<br />
</div>
<div class="project">
  <div class="image-container rounded-corners">
    <a href="http://www.gameskinny.com"><img src="{% static 'images/projects/gameskinny.jpg' %}"></a>
  </div>
  <strong>GameSkinny</strong> <i>PHP, Nginx, Zend Framework (2013, GuildLaunch LLC)</i><br />
</div>
{% endblock %}